{% import 'macros.html' as m %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>MIBiG Submission</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha256-YMa+wAM6QkVyz999odX7lPRxkoYAan8suedu4k2Zur8=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid navbar-mibig">
        <h1>MIBiG Submission Prototype</h1>
        {% block header -%}{%- endblock %}
        {% if current_user and current_user.is_authenticated -%}
        <ul class="user-menu">
            {% if current_user.has_role('admin') %}
            <li><a href="/admin">Admin</a></li>
            {% endif %}
            <li><a href="/profile">{{ m.icon('user') | safe}} {{ current_user.info.call_name }}</a></li>
            <li><a href="/auth/logout">Log out</a></li>
        </ul>
        {%- endif %}
    </div>
    {% with messages = get_flashed_messages(with_categories=true) -%}
    {% if messages -%}
    <div class="container flashes">
        {% for cat, message in messages -%}
        {% if cat == "error" -%}
        <div class="alert alert-danger" role="alert">{{m.icon('exclamation') | safe}} {{ message }}</div>
        {% elif cat == "warning" -%}
        <div class="alert alert-warning" role="alert">{{m.icon('question') | safe}} {{ message }}</div>
        {%- else %}
        <div class="alert alert-success" role="alert">{{m.icon('check') | safe}} {{ message }}</div>
        {%- endif %}

        {%- endfor %}
    </div>
    {%- endif %}
    {%- endwith %}
    {% block body -%}{%- endblock %}
</body>

<script>
    let form = document.querySelector("form");
    let btn = document.querySelector("#back-btn");

    if (form && btn) {
        Array.from(form).forEach(el => el.dataset.origValue = el.value);
        function formHasChanges(form) {
            return Array.from(form).some(el => !'origValue' in el.dataset || el.dataset.origValue !== String(el.value));
        }
        btn.addEventListener("click", function (event) {
            if (formHasChanges(form)) {
                if (!confirm("Any unsubmitted data will be lost!")) {
                    event.preventDefault()
                }
            }
        })
    }
</script>