{% macro simple_divform(form, is_reviewer=false) %}
<form method="post" class="container">
    <fieldset>
        {% for field in form %}
        <div id="{{ field.id }}" class="form-group">
            {{ render_field(field, is_reviewer) }}
        </div>

        {% endfor %}

    </fieldset>
</form>
{% endmacro %}


{% macro render_field(field, is_reviewer=false) %}

{% set is_required = " fw-bold" %}
{% set ns = namespace(delete=true) %}

{% if field.type == 'SubmitField' %}
<div>
    {% if is_reviewer %}
    <div class="form-group" style="background-color: var(--mibig-light)">
        <label class="form-label fw-bold" for="reviewed">Mark as reviewed</label>
        <input id="reviewed" name="reviewed" class="form-check-input" type="checkbox" value="yes">
        <p class="form-text text-muted">Visible to reviewers only, please check this box only when reviewing <u>a
                colleague's</u> submission</p>
    </div>
    {% endif %}

    {{ field(class='btn btn-light')}}
</div>
{% else %}

{% if field.type == "FieldList" %}
{{field.label(class='form-label'~is_required)}}
<div id="{{field.id}}" class="subform">
    {{descr(field)}}

    {% if field.max_entries==1 %}
    {% set ns.delete=false %}
    {% endif %}

    {% for subfield in field %}
    {{simple_divsubform(subfield, deletebtn=ns.delete)}}
    {% endfor %}
    {{field}}
</div>

{% elif field.type == 'FormField' %}
{{field.label(class='form-label'~is_required)}}
<div id="{{field.id}}" class="subform">
    {{descr(field)}}
    {{ simple_divsubform(field, deletebtn=false) }}
</div>

{% elif field.type == 'BooleanField' %}
<div class="form-check">
    {{field.label(class='form-label'~is_required)}}
    {{descr(field)}}
    {{ field(class='form-check-input' + (' is-invalid' if field.errors else '')) }}
</div>

{% elif field.type == "SelectField" or field.type == "SelectMultipleField" %}
{{field.label(class='form-label'~is_required)}}
{{descr(field)}}
{{ field(class='form-select' + (' is-invalid' if field.errors else '')) }}

{% else %}
{{field.label(class='form-label'~is_required)}}
{{descr(field)}}
{{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
{% endif %}

{% if field.errors %}
{% for error in field.errors %}
<div class="invalid-feedback">{{ error }}</div>
{% endfor %}
{% endif %}

{% endif %}
{% endmacro %}

{% macro simple_divsubform(form, deletebtn=false) %}
<fieldset>
    <div id="{{form.id}}" class="form-group subgroup">
        {% if deletebtn %}
        <button class='btn btn-sm btn-danger' style='float: right' hx-delete='/delete' hx-target='closest fieldset'
            hx-swap='outerHTML'>&#x2715;</button>
        {% endif %}

        {% if form.type != "FormField" %}
        <div class="form-field">
            {{render_field(form)}}
        </div>
        {% else %}

        {% for field in form %}
        <div class="form-field">
            {{render_field(field)}}

        </div>
        {% endfor %}

        {% endif %}

    </div>


</fieldset>
{% endmacro %}


{% macro descr(field) %}

{% if field.description %}
<p class="form-text text-muted" style="margin-bottom:0">{{field.description}}</p>
{% endif %}

{% endmacro %}