{% macro simple_form(form) %}
<form method="post" class="container">
    <fieldset>
        <table>
            <tbody>
                {% for field in form %}

                <tr>

                    <th>
                        {% if field.type != "HiddenField" and field.widget.input_type !=
                        "hidden" and field.type != "SubmitField" %}
                        {{field.label(class='form-label')}}
                        {% endif %}
                    </th>
                    <td>
                        {% if field.type == "FieldList" %}
                        <div class="subform">
                            {% for subfield in field %}
                            {{simple_subform(subfield)}}

                            {% endfor %}
                        </div>
                        {% elif field.type == 'FormField' %}
                        {{ simple_form(field) }}
                        {% elif field.type == 'BooleanField' %}
                        {{ field(class='form-check-input') }}
                        {% elif field.type == "SelectField" or field.type == "SelectMultipleField" %}
                        {{ field(class='form-select') }}
                        {% elif field.type == 'SubmitField' %}
                        {{ field(class='btn btn-light')}}
                        {% else %}
                        {{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
                        {% endif %}

                        {% if field.description %}
                        <span class="form-text text-muted">{{field.description}}</span>
                        {% endif %}

                        {% if field.errors %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </fieldset>
</form>
{% endmacro %}

{% macro simple_subform(form) %}
<fieldset style="border: 3px solid var(--bs-border-color)">
    <table>
        <tbody>
            {% for field in form %}

            <tr>
                <th>
                    {% if field.type != "HiddenField" and field.widget.input_type !=
                    "hidden" and field.type != "SubmitField" %}
                    {{field.label(class='form-label')}}
                    {% endif %}
                </th>
                <td>
                    {% if field.type == "FieldList" %}
                    <div class="subform">
                        {% for subfield in field %}
                        {{simple_subform(subfield)}}

                        {% endfor %}
                    </div>
                    {% elif field.type == 'BooleanField' %}
                    {{ field(class='form-check-input') }}
                    {% elif field.type == "SelectField" or field.type == "SelectMultipleField" %}
                    {{ field(class='form-select') }}
                    {% elif field.type == 'SubmitField' %}
                    {{ field(class='btn btn-light')}}
                    {% else %}
                    {{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
                    {% endif %}

                    {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</fieldset>
{% endmacro %}


{% macro simple_divform(form) %}
<form method="post" class="container">
    <fieldset>
        {% for field in form %}
        <div id="{{ field.id }}" class="form-group">
            {{ render_field(field) }}
        </div>

        {% endfor %}

    </fieldset>
</form>
{% endmacro %}


{% macro render_field(field) %}

{% set is_required = " fw-bold" %}

{% if field.type == 'SubmitField' %}
<div>
    {{ field(class='btn btn-light')}}
</div>
{% else %}

{% if field.type == "FieldList" %}
{{field.label(class='form-label'~is_required)}}
<div id="{{field.id}}" class="subform">
    {{descr(field)}}
    {% for subfield in field %}
    {{simple_divsubform(subfield)}}
    {% endfor %}
    {{field}}
</div>

{% elif field.type == 'FormField' %}
{{field.label(class='form-label'~is_required)}}
<div id="{{field.id}}" class="subform">
    {{descr(field)}}
    {{ simple_divsubform(field) }}
</div>

{% elif field.type == 'BooleanField' %}
<div class="form-check">
    {{field.label(class='form-label'~is_required)}}
    {{descr(field)}}
    {{ field(class='form-check-input') }}
</div>

{% elif field.type == "SelectField" or field.type == "SelectMultipleField" %}
{{field.label(class='form-label'~is_required)}}
{{descr(field)}}
{{ field(class='form-select') }}

{% else %}
{{field.label(class='form-label'~is_required)}}
{{descr(field)}}
{{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
{% endif %}

{% if field.errors %}
{% for error in field.errors %}
<div class="invalid-feedback">{{ error }}</div>
{% endfor %}
{% endif %}

{% endif %}
{% endmacro %}

{% macro simple_divsubform(form, deletebtn="") %}
<fieldset>
    <div id="{{form.id}}" class="form-group subgroup">
        {% if deletebtn %}
        <button class='btn btn-sm btn-danger' style='float: right' hx-delete='/delete' hx-target='closest fieldset'
            hx-swap='outerHTML'>&#x2715;</button>
        {% endif %}

        {% if form.type != "FormField" %}
        <div class="form-field">
            {{render_field(form)}}
        </div>
        {% else %}

        {% for field in form %}
        <div class="form-field">
            {{render_field(field)}}
        </div>
        {% endfor %}

        {% endif %}

    </div>


</fieldset>
{% endmacro %}


{% macro descr(field) %}

{% if field.description %}
<p class="form-text text-muted" style="margin-bottom:0">{{field.description}}</p>
{% endif %}

{% endmacro %}