{% extends 'base.html' %}

{% block body %}

<div class="content">
    <form action="/auth/login" method="POST">
        <label>Username: <input type="email" name="email" id="email" placeholder="alice@example.edu"></label>
        <label>Password: <input type="password" name="password" id="password"></label>
        <label>Remember me: <input type="checkbox"></label>
        <input type="submit" value="Log in">
    </form>
</div>
{% endblock %}
