body {
  --mibig-light: hsl(200, 60%, 90%);
  --mibig-blue: hsl(200, 100%, 32%);
  background-color: var(--bs-gray-400);
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-menu {
  padding-left: 0;
  list-style: none;
  margin-left: auto;
  margin-right: 1em;

  display: flex;
  justify-content: flex-end;
}

.user-menu li {
  margin-left: 2em;
}

.user-menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--mibig-blue);
}

.user-menu li a:hover {
  text-decoration: underline;
}

.flashes {
  width: 1024px;
  margin-top: 20px;
}

.subform {
  padding-left: 25px;
  padding-right: 25px;
}

.form-wrapper {
  width: 1024px;
  padding: 20px 50px 20px 50px;
  margin: 20px auto;
  min-height: 500px;
  height: auto !important;
  background-color: var(--mibig-light);
  border-radius: var(--bs-border-radius-2xl);
  border: 15px inset var(--mibig-blue);
}

.form-group {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid var(--mibig-blue);
  margin: 5px auto;
}

.form-field {
  margin: 3px;
}

.suggestions ul {
  display: none;
  opacity: 0;
  position: absolute;
  width: auto;
}

.suggestions ul li {
  display: none;
  opacity: 0;
  border-radius: var(--bs-border-radius);
  padding: 2px 10px 2px 10px;
}

.suggestions ul li:hover {
  background-color: var(--mibig-light);
}

.suggestions:focus-within ul,
.suggestions:focus-within ul li {
  display: block;
  opacity: 1;
}

/* start colour definitions for secondary metabolite types */
.pks {
  background-color: sandybrown;
  color: purple;
}

.pks.active {
  border-color: purple;
  border-width: 2px;
  border-style: solid;
}

.pks:hover {
  background-color: #f8c8a0;
}

.pigment {
  background-color: peru;
  color: white;
}

.pigment.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.pigment:hover {
  background-color: #e1b68c;
}

.hydrocarbon {
  background-color: purple;
  color: white;
}

.hydrocarbon.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.hydrocarbon:hover {
  background-color: #b366b3;
}

.ripp {
  background-color: royalblue;
  color: white;
}

.ripp.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.ripp:hover {
  background-color: #8da5ed;
}

.putative {
  background-color: #f2f2f2;
  color: black;
}

.putative.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.putative:hover {
  background-color: #f7f7f7;
}

.alkaloid {
  background-color: purple;
  color: white;
}

.alkaloid.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.alkaloid:hover {
  background-color: #b366b3;
}

.saccharide {
  background-color: burlywood;
  color: black;
}

.saccharide.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.saccharide:hover {
  background-color: #ebd4b7;
}

.t1pks {
  background-color: sandybrown;
  color: purple;
}

.t1pks.active {
  border-color: purple;
  border-width: 2px;
  border-style: solid;
}

.t1pks:hover {
  background-color: #f8c8a0;
}

.transatpks {
  background-color: sandybrown;
  color: purple;
}

.transatpks.active {
  border-color: purple;
  border-width: 2px;
  border-style: solid;
}

.transatpks:hover {
  background-color: #f8c8a0;
}

.t2pks {
  background-color: sandybrown;
  color: purple;
}

.t2pks.active {
  border-color: purple;
  border-width: 2px;
  border-style: solid;
}

.t2pks:hover {
  background-color: #f8c8a0;
}

.t3pks {
  background-color: sandybrown;
  color: purple;
}

.t3pks.active {
  border-color: purple;
  border-width: 2px;
  border-style: solid;
}

.t3pks:hover {
  background-color: #f8c8a0;
}

.otherks {
  background-color: sandybrown;
  color: purple;
}

.otherks.active {
  border-color: purple;
  border-width: 2px;
  border-style: solid;
}

.otherks:hover {
  background-color: #f8c8a0;
}

.ppysks {
  background-color: sandybrown;
  color: purple;
}

.ppysks.active {
  border-color: purple;
  border-width: 2px;
  border-style: solid;
}

.ppysks:hover {
  background-color: #f8c8a0;
}

.arylpolyene {
  background-color: peru;
  color: white;
}

.arylpolyene.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.arylpolyene:hover {
  background-color: #e1b68c;
}

.resorcinol {
  background-color: purple;
  color: white;
}

.resorcinol.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.resorcinol:hover {
  background-color: #b366b3;
}

.ladderane {
  background-color: purple;
  color: white;
}

.ladderane.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.ladderane:hover {
  background-color: #b366b3;
}

.pufa {
  background-color: purple;
  color: white;
}

.pufa.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.pufa:hover {
  background-color: #b366b3;
}

.nrps {
  background-color: seagreen;
  color: white;
}

.nrps.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.nrps:hover {
  background-color: #82b99a;
}

.terpene {
  background-color: purple;
  color: white;
}

.terpene.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.terpene:hover {
  background-color: #b366b3;
}

.lantibiotic {
  background-color: #ffff77;
  color: blue;
}

.lantibiotic.active {
  border-color: blue;
  border-width: 2px;
  border-style: solid;
}

.lantibiotic:hover {
  background-color: #ffffad;
}

.lantipeptide {
  background-color: #ffff77;
  color: blue;
}

.lantipeptide.active {
  border-color: blue;
  border-width: 2px;
  border-style: solid;
}

.lantipeptide:hover {
  background-color: #ffffad;
}

.bacteriocin {
  background-color: royalblue;
  color: white;
}

.bacteriocin.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.bacteriocin:hover {
  background-color: #8da5ed;
}

.thiopeptide {
  background-color: gold;
  color: black;
}

.thiopeptide.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.thiopeptide:hover {
  background-color: #ffe766;
}

.linaridin {
  background-color: royalblue;
  color: white;
}

.linaridin.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.linaridin:hover {
  background-color: #8da5ed;
}

.cyanobactin {
  background-color: royalblue;
  color: white;
}

.cyanobactin.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.cyanobactin:hover {
  background-color: #8da5ed;
}

.glycocin {
  background-color: royalblue;
  color: white;
}

.glycocin.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.glycocin:hover {
  background-color: #8da5ed;
}

.lap {
  background-color: royalblue;
  color: white;
}

.lap.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.lap:hover {
  background-color: #8da5ed;
}

.lassopeptide {
  background-color: royalblue;
  color: white;
}

.lassopeptide.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.lassopeptide:hover {
  background-color: #8da5ed;
}

.sactipeptide {
  background-color: royalblue;
  color: white;
}

.sactipeptide.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.sactipeptide:hover {
  background-color: #8da5ed;
}

.bottromycin {
  background-color: royalblue;
  color: white;
}

.bottromycin.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.bottromycin:hover {
  background-color: #8da5ed;
}

.head_to_tail {
  background-color: royalblue;
  color: white;
}

.head_to_tail.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.head_to_tail:hover {
  background-color: #8da5ed;
}

.microcin {
  background-color: royalblue;
  color: white;
}

.microcin.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.microcin:hover {
  background-color: #8da5ed;
}

.microviridin {
  background-color: royalblue;
  color: white;
}

.microviridin.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.microviridin:hover {
  background-color: #8da5ed;
}

.proteusin {
  background-color: royalblue;
  color: white;
}

.proteusin.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.proteusin:hover {
  background-color: #8da5ed;
}

.blactam {
  background-color: aliceblue;
  color: black;
}

.blactam.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.blactam:hover {
  background-color: #f6fbff;
}

.amglyccycl {
  background-color: yellowgreen;
  color: black;
}

.amglyccycl.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.amglyccycl:hover {
  background-color: #c2e184;
}

.amimocoumarin {
  background-color: yellowgreen;
  color: black;
}

.amimocoumarin.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.amimocoumarin:hover {
  background-color: #c2e184;
}

.siderophore {
  background-color: crimson;
  color: white;
}

.siderophore.active {
  border-color: blue;
  border-width: 2px;
  border-style: solid;
}

.siderophore:hover {
  background-color: #ea728a;
}

.ectoine {
  background-color: yellowgreen;
  color: firebrick;
}

.ectoine.active {
  border-color: firebrick;
  border-width: 2px;
  border-style: solid;
}

.ectoine:hover {
  background-color: #c2e184;
}

.butyrolactone {
  background-color: mediumpurple;
  color: white;
}

.butyrolactone.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.butyrolactone:hover {
  background-color: #bea9e8;
}

.indole {
  background-color: peachpuff;
  color: black;
}

.indole.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.indole:hover {
  background-color: #ffe9d5;
}

.nucleoside {
  background-color: antiquewhite;
  color: black;
}

.nucleoside.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.nucleoside:hover {
  background-color: #fcf3e7;
}

.phosphoglycolipid {
  background-color: yellowgreen;
  color: black;
}

.phosphoglycolipid.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.phosphoglycolipid:hover {
  background-color: #c2e184;
}

.melanin {
  background-color: peru;
  color: white;
}

.melanin.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.melanin:hover {
  background-color: #e1b68c;
}

.oligosaccharide {
  background-color: burlywood;
  color: black;
}

.oligosaccharide.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.oligosaccharide:hover {
  background-color: #ebd4b7;
}

.furan {
  background-color: purple;
  color: white;
}

.furan.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.furan:hover {
  background-color: #b366b3;
}

.hserlactone {
  background-color: tan;
  color: black;
}

.hserlactone.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.hserlactone:hover {
  background-color: #e4d2ba;
}

.phenazine {
  background-color: plum;
  color: black;
}

.phenazine.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.phenazine:hover {
  background-color: #ebc6eb;
}

.phosphonate {
  background-color: mediumaquamarine;
  color: black;
}

.phosphonate.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.phosphonate:hover {
  background-color: #a3e1cc;
}

.fused {
  background-color: royalblue;
  color: white;
}

.fused.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.fused:hover {
  background-color: #8da5ed;
}

.pbde {
  background-color: purple;
  color: white;
}

.pbde.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.pbde:hover {
  background-color: #b366b3;
}

.other {
  background-color: midnightblue;
  color: lightsteelblue;
}

.other.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}

.other:hover {
  background-color: #7575a9;
}

.cf_saccharide {
  background-color: #f2f2f2;
  color: black;
}

.cf_saccharide.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.cf_saccharide:hover {
  background-color: #f7f7f7;
}

.cf_fatty_acid {
  background-color: #f2f2f2;
  color: black;
}

.cf_fatty_acid.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.cf_fatty_acid:hover {
  background-color: #f7f7f7;
}

.hybrid {
  background-color: lightsteelblue;
  color: midnightblue;
}

.hybrid.active {
  border-color: midnightblue;
  border-width: 2px;
  border-style: solid;
}

.hybrid:hover {
  background-color: #d0dceb;
}

/* done with sec met types */
.wide-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .wide-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .wide-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .wide-container {
    width: 1170px;
  }
}

@media (min-width: 1600px) {
  .wide-container {
    width: 1560px;
  }
}

.navbar-mibig {
  border-bottom: 4px solid #006ca2;
}

.stats-top {
  background-color: #eee;
}

.stats-definition-term {
  font-weight: bold;
}

.stats-definition-data {
  font-weight: bold;
  float: right;
}

.spacer {
  margin: 0.5em;
}

.search-box {
  padding-top: 2em;
}

.search-button {
  padding-top: 2em;
}

.pattern-list {
  margin: 1em 0;
  padding: 2em 1em;
  border-radius: 8px;
  border: 1px dashed #444;
}

.query-operation {
  list-style: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #eee;
}

.results-header {
  cursor: pointer;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 160px;
  padding-top: 0.25em;
  border-top: 1px solid #006ca2;
  margin-top: 2em;
}

.class-label {
  padding: 3px;
  border-radius: 4px;
  margin-top: 3px;
  text-align: center;
  box-shadow: 3px 3px 2px #222;
}

.org-logos {
  margin-top: 1em;
}

.cite-me {
  margin-top: 1em;
}