{% extends 'base.html' %}

{% import 'macros.html' as macros%}

{% block body %}
<div>
    <h2>Editing {{ bgc_id }}</h2>
</div>
<h4>Enter biological activities</h4>

<div>
    {{ macros.simple_form(form) }}
</div>
<!-- <form method="post" class="container">
    {% for activity in form.activities %}
    <div>
        <fieldset>
            <table>
                <tbody>
                    {% for field in activity %}
                    <tr>
                        <th>
                            {{field.label}}
                        </th>
                        <td>
                            {{field}}

                        </td>
                        {% if field.errors %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
        <br>
    </div>
    {% endfor %}
    {{ form.submit }}

</form> -->

{% endblock %}