{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
<h2>Editing {{ bgc_id }}</h2>
{% endblock %}

{% block body %}
<div class="form-wrapper">
    <h4>What would you like to edit?</h4>
    {{ macros.simple_divform(form) }}
    <!-- <form method="post">
        {% for field in form %}
        {{field}}
        {% endfor %}
    </form> -->
    <!-- <button href="{{ url_for('edit_minimal', bgc_id=bgc_id)}}">Minimal Entry</button>
    <button>Structure</button>
    <button>Biological activity</button>
    <button>Class-specific information</button>
    <button>Tailoring reaction information</button> -->
</div>
{% endblock %}