{% macro simple_form(form, struct="") %}
<form method="post" class="container">
    <fieldset>
        <table>
            <tbody>
                {% for field in form %}

                <tr>

                    <th>
                        {% if field.type != "HiddenField" and field.widget.input_type !=
                        "hidden" and field.type != "SubmitField" %}
                        {{field.label(class='form-label')}}
                        {% endif %}
                    </th>
                    <td>
                        {% if field.type == "FieldList" %}
                        <div class="subform">
                            {% for subfield in field %}
                            {{simple_subform(subfield, struct)}}

                            {% endfor %}
                        </div>
                        {% elif field.type == 'FormField' %}
                        {{ simple_form(field) }}
                        {% elif field.type == 'BooleanField' %}
                        {{ field(class='form-check-input') }}
                        {% elif field.type == "SelectField" or field.type == "SelectMultipleField" %}
                        {{ field(class='form-select') }}
                        {% elif field.type == 'SubmitField' %}
                        {{ field(class='btn btn-light')}}
                        {% else %}
                        {{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
                        {% endif %}

                        {% if field.description %}
                        <span class="form-text text-muted">{{field.description}}</span>
                        {% endif %}

                        {% if field.errors %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </fieldset>
</form>
{% endmacro %}

{% macro simple_subform(form, struct="") %}
<fieldset style="border: 3px solid var(--bs-border-color)">
    <table>
        <tbody>
            {% for field in form %}

            <tr>
                <th>
                    {% if field.type != "HiddenField" and field.widget.input_type !=
                    "hidden" and field.type != "SubmitField" %}
                    {{field.label(class='form-label')}}
                    {% endif %}
                </th>
                <td>
                    {% if field.type == "FieldList" %}
                    <div class="subform">
                        {% for subfield in field %}
                        {{simple_subform(subfield)}}

                        {% endfor %}
                    </div>
                    {% elif field.type == 'BooleanField' %}
                    {{ field(class='form-check-input') }}
                    {% elif field.type == "SelectField" or field.type == "SelectMultipleField" %}
                    {{ field(class='form-select') }}
                    {% elif field.type == 'SubmitField' %}
                    {{ field(class='btn btn-light')}}
                    {% else %}
                    {{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
                    {% endif %}

                    {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if struct %}
    <div class="struct"></div>
    {% endif %}
</fieldset>
{% endmacro %}


{% macro simple_divform(form, struct="") %}
<form method="post" class="container">
    <fieldset>
        {% for field in form %}
        <div class="form-group">
            {{ render_field(field, struct) }}
        </div>

        {% endfor %}

    </fieldset>
</form>
{% endmacro %}


{% macro render_field(field, struct="") %}
{% if field.type == 'SubmitField' %}
<div>
    {{ field(class='btn btn-light')}}
</div>
{% else %}

{% if field.type == "FieldList" %}
{{field.label(class='form-label')}}
<div class="subform" style="padding-left: 25px;">
    {% for subfield in field %}
    {{simple_divsubform(subfield, struct)}}
    {% endfor %}
</div>

{% elif field.type == 'FormField' %}
{{field.label(class='form-label')}}
<div class="subform" style="padding-left: 25px;">
    {{ simple_divsubform(field, struct) }}
</div>

{% elif field.type == 'BooleanField' %}
<div class="form-check">
    {{field.label(class='form-label')}}
    {{ field(class='form-check-input') }}
</div>

{% elif field.type == "SelectField" or field.type == "SelectMultipleField" %}
{{field.label(class='form-label')}}
{{ field(class='form-select') }}

{% else %}
{{field.label(class='form-label')}}
{{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
{% endif %}

{% if field.description %}
<span class="form-text text-muted">{{field.description}}</span>
{% endif %}

{% if field.errors %}
{% for error in field.errors %}
<div class="invalid-feedback">{{ error }}</div>
{% endfor %}
{% endif %}

{% endif %}
{% endmacro %}

{% macro simple_divsubform(form, struct="", deletebtn="") %}
<fieldset>
    <div class="form-group">
        {% if deletebtn %}
        <button class='btn btn-sm btn-danger' style='float: right' hx-delete='/delete' hx-target='closest span'
            hx-swap='outerHTML'>&#x2715;</button>
        {% endif %}
        {% for field in form %}
        {{render_field(field)}}
        {% endfor %}

        {% if struct %}
        <div class="struct"></div>
        {% endif %}

    </div>


</fieldset>
{% endmacro %}