{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block body %}

<div class="content">
    <div class="form-wrapper">
        <h4>Welcome to the MIBiG Submission system!</h4>

        <p>Please read the following instructions before commencing:</p>
        <ul>
            <li>Please refer to our detailed Curation Methods and Protocols found [placeholder]</li>
            <li>Some parts of the form are optional, others are mandatory. Mandatory fields are marked by asterisks.
            </li>
            <li>Please provide all information in English</li>
            <li>Please enter all decimal values using point notation</li>
            <li>If you have any remaining questions while filling out the form or if you experience technical
                difficulties, please do let us know</li>
        </ul>
        <h4>Either enter an existing entry ID or create a new entry.</h4>

        {{ macros.simple_divform(form) }}
    </div>
</div>
{% endblock %}